# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

# Ignore build directories
/common/build/
/fabric/build/

# Ignore all files in these directories
/common/build/classes/
/common/build/devlibs/
/common/build/generated/
/common/build/libs/
/common/build/loom-cache/
/common/build/tmp/
/common/build/resources/main/assets/rfm/models/block/
/common/build/resources/main/assets/rfm/models/item/
/common/build/resources/main/assets/rfm/textures/item/
/common/build/resources/main/assets/rfm/lang/

/fabric/build/classes/
/fabric/build/devlibs/
/fabric/build/libs/
/fabric/build/loom-cache/
/fabric/build/resources/main/assets/rfm/models/block/
/fabric/build/resources/main/assets/rfm/models/item/
/fabric/build/resources/main/assets/rfm/textures/item/
/fabric/build/resources/main/assets/rfm/lang/

# Ignore specific files
/common/build/tmp/compileJava/previous-compilation-data.bin
/common/build/tmp/jar/MANIFEST.MF

# Ignore all jar files
/common/build/libs/*.jar
/fabric/build/libs/*.jar

# Ignore temporary files
*.tmp
*.log
*.bak

# Ignore system files
.DS_Store
Thumbs.db

